<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="button" value="test " onclick="fetchAPI()">
</body>
<script >
    const fetchAPI = async()=>{
      await fetch('192.168.1.115:8080/v1.0').then((value)=>{
        console.log(value.json()).then((data)=>{
            console.log(data);
        });
      })
    }
</script>
</html>